/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


.gallery-item{
  /* display: block; */
  max-width: 360px;
  position: relative; 
  /* display: flex; 
     gap: 24px; 
    justify-content: center;
    align-items: center;
    list-style-type: none; */
}

.dashboard{
  position: absolute;
   display: flex;
   row-gap: 20px;
   flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between; 
  width: 360px;
}

.gallery-image{
  display:block;
  bottom: 0;
}